# General
*.bat text eol=crlf
*.bin -text
*.cs text eol=crlf
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.json text eol=lf
*.md text eol=lf
*.png -text
*.psd -text
*.rs text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.vsconfig text eol=lf
# Unity
*.asset text eol=lf
*.meta text eol=lf
*.unity text eol=lf
